@import url('https://fonts.googleapis.com/css?family=Nunito');
@import url('https://fonts.googleapis.com/css?family=Work+Sans:900');

* {
  font-family: 'nunito';
}

.main-container{
  width:33%;
  height: 100%;
  margin: 0 auto;
  padding: 1em 3em;
  background: linear-gradient(0deg, rgba(245,245,245,0.06766456582633051) 0%, rgba(117, 179, 191, 0.6) 100%);
}

body{
  margin: 0;
  background: url('https://images.unsplash.com/photo-1548772981-8d55b2860a79?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2134&q=80') no-repeat;
}

.hidden{
  display: none !important;
}

ul{
  list-style-type: none;
  padding: 0;
}

li.minimized {
  border: 1px solid gray;
  margin: 15px 0;
  box-shadow: 0px 3px 8px 0px rgba(0,0,0,0.2);
}

.bookmark-title {
  margin: 0;
  background-color: #bfedfd75;
  padding: 7px 2px 5px 21px;
  font-size: 20px;
  font-weight: bold;
  color: #456e82;
  border-radius: 10px 10px 0px 0px;
}

h1 {
  text-align: center;
  font-family: 'work sans';
  font-size: 57px;
  background-image: url('https://i.pinimg.com/236x/1e/d3/b9/1ed3b9de2f61b65a8aa2a093b637f944--iphone--wallpaper-green-wallpaper.jpg');
  background-size: cover;
  /* background-attachment: fixed; */
  -webkit-background-clip: text;
  -webkit-text-fill-color: #ffffff4f;
  text-transform: uppercase;
  margin: 25px 0;
}

.hide-bookmark{
  display:block;
  width:100%;
  height: 60px;
  border-radius: 5px;
  border: 2px solid #7caec2;
  background: radial-gradient(circle, rgba(148,187,233,1) 0%, rgba(174,238,230,1) 100%);
  color: #fff;
  font-size: 20px;
  font-weight: bold;
  box-shadow: 0px 2px 8px 0px rgba(0,0,0,0.2);
}

.hide-bookmark:hover{
  background: radial-gradient(circle, rgba(174,227,238,1) 0%, rgba(148,165,233,1) 100%);
}

.add-bookmark-section{
  margin: 15px 0px;
}

#add-bookmark{
  width: 100%;
  display: block;
}

#add-bookmark input{
  margin-bottom: 10px;
  box-sizing: border-box;
}

.single-line-input{
width: 100%;
margin: 0;
background-color: #ffffff4f;
border: 0;
border-bottom: 2px solid #8a8989;
font-size: 18px;
padding: 5px;
}

.multi-line-input{
width: 100%;
height: 50px;
background-color: #ffffff4f;
border: 0;
border-bottom: 2px solid #8a8989;
font-size: 18px;
padding: 5px;
box-sizing: border-box;
}

select{
  height: 25px;
}

.js-submit-bookmark{
  width: 66px;
  height: 26px;
  float: right;
  border-radius: 5px;
  border: 2px solid #7caec2;
  background: radial-gradient(circle, rgba(174,238,230,1) 0%, rgba(148,187,233,1) 100%);
  font-weight: bold;
  box-shadow: 0px 2px 7px 0px rgba(0,0,0,0.2);
}

.filter {
  padding: 10px;
  text-align: right;
  border: 1px solid #b9b9b9;
  border-radius: 10px;
  background-color: rgba(220, 220, 220, 0.404);
  font-size: 18px;
  font-weight: bold; 
  box-shadow: 1px 3px 3px 0px rgba(0,0,0,0.2);
}

#expand{
  float: right;
  border-radius: 4px;
  border: 1px solid  #bfedfd00;
  background:  #bfedfd00;
}

li {
  border-radius: 10px;
  padding-bottom: 10px;
  background-color: #ffffff80;
}

.bookmark-rating{
  margin: 0 0 0 15px;
  padding: 5px 5px 0px 5px;
  color: #FBBC05;
  font-size: 28px;
}

.bookmark-description{
  margin: 7px 15px 27px 17px;
  padding: 0px 5px 5px 5px;
}

li a{
  float: right;
  margin-right: 15px;
  font-size: 1em;
  text-decoration: none;
  border: 1px gray solid;
  padding: 5px 10px;
  border-radius: 5px;
  font-weight: bold;
}

li a:hover {
  background-color: #858aff3b;
}

#delete{
  margin-left: 15px;
  background-color: rgba(255, 255, 255, 0);
  font-size: 20px;
  border: 1px solid #b5b5b5;
  border-radius: 5px;
}

#delete:hover{
  background-color: rgba(255, 0, 0, 0.164);
}

.errorMessage{
  color: white;
  background: linear-gradient(90deg, rgba(180,58,58,1) 0%, rgba(253,29,29,1) 50%, rgba(252,176,69,1) 100%);
  border-radius: 5px;
  padding: 15px;
}

button,
.js-submit-bookmark {
  cursor: pointer;
}

#hidden-label{
  display: none;
}

@media screen and (max-width: 375px) {

  .main-container {
    padding: 1em 1em;
    width: 75%;
    background: none;
  }

  h1 {
    font-size: 1.9em;
    -webkit-text-fill-color: #0c090961;
  }

  .bookmark-description{
    margin: 7px 15px 27px 12px;
    padding: 0px 5px 5px 10px;
    display: inline-grid;
  }

  

  
}

@media screen and (max-width: 480px) {

  .main-container {
    padding: 1em 1em;
    width: 75%;
    background: none;
  }

  h1 {
    font-size: 1.9em;
    -webkit-text-fill-color: #0c090961;
  }

  .bookmark-description{
    margin: 7px 15px 27px 12px;
    padding: 0px 5px 5px 10px;
    
  }
}